.swiper-wrap{
    height: 500px;
    position: relative;
}
.swiper-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 100%;
}
.active{
    z-index: 2;
    opacity: 1;
}